body{
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 20px;
}

.btn_publish{
    float:right;
    margin-bottom: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}

.media-body{
    padding-top: 10px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 16px;
}

.invitation-title{
    margin-top: 25px;
}

.invitation-tag {
    margin-right: 5px;
}

.invitation-related {
    line-height: 20px;
    font-size: 14px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

/*.invitation-wechat {*/
/*    width: 95%;*/
/*}*/

.community-menu {
    display: block;
    color:#999;
    font-size: 12px;
    margin-bottom: 15px;
}

.jumbotron{
    margin:50px;
}

.comment{
    margin: 10px 0;
}

.btn-comment{
    float:right;
    margin-bottom: 10px;
}

.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn {
    margin: 10px 0;
}

.comment-sp{
    margin-top: 0;
}

.menu{
    color: #999;
    margin-top: 5px;
}

.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #499ef3;
}

.menu .active{
    color: #499ef3;
}

.menu .icon:hover{
    color: #499ef3;
}